#loading {
    background-image: url('../img/loading.gif');
    display: none;
    height: 48px;
    position: absolute;
    right: 0;
    width: 48px;
}

.content {
    margin: 40px 10px 0 10px;
}

/* Select2 fixes START */
.item-select {
    width: 400px;
}

.box-select {
    width: 200px;
}

.select2-container .select2-choice {
    background: none;
    height: 28px !important;
}

.select2-container {
    margin: 0 0 10px 4px;
}

/* Select2 fixes END */

.login-panel {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.home-panel {
    float: left;
    position: absolute;
    left: 10px;
    top: 10px;
}

label.error {
    color: #b94a48;
    display: inline;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.bank-data {
    float: left;
    width: 300px;
}

.page-break  {
    display: none;
}

.to-print {
    visibility: hidden;
}

#location-button {
    margin-top: -10px;
}