{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}
<script src="/static/libs/jquery-validation-plugin/jquery.validate.min.js"></script>
<script src="/static/libs/jquery-validation-plugin/validate.messages_ru.js"></script>

<link rel="stylesheet" href="/static/libs/select2/select2.css"/>
<script src="/static/libs/select2/select2.js"></script>
<script src="/static/libs/select2/select2_locale_ru.js"></script>

<script src="/static/js/request_add.js"></script>
<script src="/static/js/request.js"></script>
<script>
  var item_names_in_boxes = jQuery.parseJSON('{{ item_names_in_boxes|safe }}')
  var boxes = jQuery.parseJSON('{{ boxes|safe }}');
  var request_type = {{ request_type.pk }};
  var request_type_text = '{{ request_type.name }}';
  var user = '{{ user.get_full_name }}';
</script>
<h1 class="text-center">{{ request_type.name }}</h1>

<form enctype="multipart/form-data" action="" method="POST" id="request">
  {% csrf_token %}
  {{ form|as_bootstrap }}

  {% ifequal request_type.pk 2 %}
  <div class="controls" id="location-addition">
    <input id="location" name="location" required="" type="text" />
    <input id="location-button" type="button" value="Добавить узел" onclick="add_location()" class="btn">
  </div>
  {% endifequal %}

  <br>
  <p><a id="add_item" href="#" onclick="add_item()"><i class="icon-plus-sign"></i></a></p>
  <div class="control-group">
    <div class="controls">
      <input type="button" value="Отправить" onclick="submit_form()" class="btn btn-primary">
      <input type="button" value="Проверить" onclick="check_form()" class="btn">
      <input type="button" value="Печать" onclick="print_request()" class="btn">
      <input type="button" value="Сбросить" onclick="document.location.reload(true)" class="btn">
    </div>
  </div>
</form>

<div id="to-print"></div>

{% endblock %}