{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Необработанные заявки</h1>

{% if requests %}
  <table class="table">
    <thead>
      <tr>
        <th>Тип заявки</th>
        <th>Отправил</th>
        <th>Лицо</th>
        <th>Дата</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      <tr>
        <td>{{ request.request_type.name }}</td>
        <td>{{ request.user.username }}</td>
        <td>{{ request.person.name }}</td>
        <td>{{ request.date|date:"j.n.Y H:i" }}</td>
        <td><a href="/requests/process/{{ request.pk }}">Обработать</a></td>
       </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  Необработанные заявки отсутствуют.

{% endif %}

{% endblock %}